#about{
  display: flex;
  flex-wrap: wrap;
}
#bio{
  flex: 1 200px
}
.profile-img{
  display: flex;
  margin: 10px;
  max-width: 260px;
  height: 252px;
}

.list-group-item{
  background-color: black
}

